<form action="/admin-login" method="post">
  <input
    type="password"
    name="passcode"
    placeholder="Enter Secret Passcode"
    required
  />
  <button type="submit">login as admin</button>
</form>
