<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Message</title>
  </head>
  <body>
    <h1>Create a New Message</h1>

    <form action="/messages/new" method="post">
      <label for="title">Title</label>
      <input name="title" type="text" placeholder="Title" required />
      <label for="content">Message</label>
      <br />
      <textarea name="content" placeholder="Your message" required></textarea
      ><br />
      <button type="submit">Post</button>
    </form>
  </body>
</html>
